$app-default-background: #1e1e1e;
$app-background-light: #303030;
$app-background-dark: #181818;
$app-primary: #6200ee;
$app-primary-hover: #6b02e4;
$app-secondary: #fff; // TBD

$app-error: #cf6679;

$app-text:  rgba(255, 255, 255, 0.6);
$app-text-bright: rgba(255, 255, 255, 0.87);

