@import "variables";

#home_page {
    background-image: url(../images/GeometricOrange.jpg);    
    background-position: 0px 0px;
    background-size: cover;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(255, 255, 255, 0.6);
  }
