@import "variables";

@mixin input-style {
    background-color: $app-background-light;
    color: $app-text;
    border: none;
    -webkit-box-shadow: inset 0 0 3px #000;
    -moz-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;

    &:focus, &:-webkit-autofill, &:-webkit-autofill:focus, &:active {
        background-color: $app-background-light;
        color: $app-text;
    }
}

.input-group {
    .input-group-prepend span {
        background-color: $app-background-dark;
        color: $app-text;
        border: none;
    }

    input {
        @include input-style();
    }
}

.form-group input {
    @include input-style();
}
