$app-primary: #FF652F;
$app-primary-hover: #c66900;
$app-primary-dark: #26418f;
$app-primary-text: #fff;

$app-background: #1C3334;

$app-error: #cf6679;

$app-text:  rgba(255, 255, 255, 0.6);
$app-text-bright: rgba(255, 255, 255, 0.87);

$app-form: #272727;
$app-form-hover: #404040;
$app-form-input: #f0f4f7;
$app-form-input-text: #404040;
$app-form-input-shadow: inset 0 0 1px #aaa;
