@import "variables";

.btn {
    &.btn-primary {
        background-color: $app-primary;
        border-color: $app-primary;
        color: $app-primary-text;
        font-weight: 600;

        &:hover, &:focus, &:active {
            background-color: $app-primary-hover;
            border-color: $app-primary-hover;
            color: $app-primary-text;
            font-weight: 600;
        }
    }

    &.btn-outline-primary {
        border-color: $app-primary;
        color: $app-primary;
        font-weight: 600;

        &:hover {
            background-color: $app-primary;
            border-color: $app-primary;
            color: $app-primary-text;
            font-weight: 600;
        }
    }
}
