@import "variables";

.modal-dialog .modal-content {
    background-color: $app-form;
    color: $app-text-bright;

    .modal-body {
        background-color: $app-form;
        color: $app-text-bright;
    }

    .close {
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.5rem;
        text-shadow: none;
        color: $app-error;
    }
}
