@import "variables";

.App-navbar {
    min-height: 50px;
    background-color: $app-primary-dark;
    .nav-item {
        a {
            color: $app-primary-text;

            &:hover {
                color: $app-primary;
            }
        }

        .dropdown-menu {
            background-color: $app-primary-dark;

            .dropdown-item:hover {
                background-color: $app-primary-dark;
            }
        }
    }
}
